<%= render 'shared/dhtmlx_stylesheet' %>
<%= render 'shared/dhtmlx_javascript' %>
<div class="row-fluid">
	<div class="span12">
	    <ul class="breadcrumb">
	    <li><a href="http://localhost:3000">Dashboard</a> <span class="divider">/</span></li>                                      
		<li class="active">Members </li>
	    	<%= render 'shared/buttons' %>
	    </ul>
	</div><!--/span-->
</div>

  <div class="row-fluid">
    <div class="span12">
	    <div id="recinfoArea"></div>
	    <div id="grid_member" style="widht:100%; height:490px; background-color:white;overflow:hidden"></div>
	    <div id="pagingArea"></div>

	    <div id="message" style="height:30px; font-weight:bold; color:red;"></div>
		<script type="text/javascript" charset="utf-8">
		function add_r() {
	    var ind1 = "";
	    var ind2 = "name";
	    grid.addRow(grid.uid(), [ind1, ind2], 0);
		}
		var grid = new dhtmlXGridObject("grid_member");
		grid.setImagePath("/imgs/");
		grid.setHeader("&nbsp;,Name, Mobile Phone, Email Id, User Id, S.Id");
		grid.attachHeader("#,#text_filter,#text_filter,#text_filter,#numeric_filter,#numeric_filter");
		grid.setColSorting("int,str,str,str,int,int");
		grid.setInitWidths("50,200,170,250,80,*");
		grid.setColAlign("right,left,center,left,center,center");
		grid.setColTypes("cntr,ed,ed,ed,ed,ed");
		grid.enableMultiselect(true);
		grid.enableValidation(true);
		grid.enableMultiline(false);
		grid.selMultiRows = true;
		grid.setColumnColor("#fffddd");
		grid.enableValidation(true, true, true, true, false, true);
		grid.setColValidators("NotEmpty,NotEmpty,ValidAplhaNumeric,ValidEmail");
		grid.attachEvent("onLiveValidationError", function(id, ind, value) {
		    document.getElementById('message').innerHTML = "Error at cell (" + id + "," + ind + "), value must " + (ind == 0 ? "not be empty": "be a valid number");
		    return false;
		});
		grid.attachEvent("onLiveValidationCorrect", function(id, ind, value) {
		    document.getElementById('message').innerHTML = "";
		    return false;
		});

		grid.setSkin("sbdark");
		grid.enablePaging(true, 20, 20, "pagingArea", true, "recinfoArea");
		grid.setPagingSkin("bricks");
		grid.init();
		grid.load("data.xml");

		dp = new dataProcessor("dbaction.xml/");
		dp.init(grid);
		
		function clear_filter(){
			grid.filterBy(0,"");
			grid._f_rowsBuffer = null;
		}
		function add(){
			clear_filter();
			grid.addRow(grid.uid(), 'new member');
		}
		function remove(){
			clear_filter();
			grid.deleteSelectedRows();
		}
		
		</script>
    </div>
  </div>